<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Group11_SEN381_Project.Properties.Settings.MedicalCallCenterConnectionString"
            connectionString="Data Source=DESKTOP-V43B9TN\SQLEXPRESS;Initial Catalog=MedicalCallCenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>